<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>BLOGG APP | Edit</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="container">

      <section>
        <h4 class="display-5">Edit Blog.</h4>
     </section>
     

    <div class="container" style="margin-top:2rem;margin-bottom:5rem;width:80vw">

    <div class="row">
      <div class="col-lg-6">
        <form action="/blogs/<%=blog._id%>?_method=PATCH" method="POST" style="margin:10px auto" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="author" class="form-label"
                  >Author:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="blog[author]"
                  placeholder="Author name"
                  value= "<%= blog.author %> "
                  required
                />
              </div>
    
              <div class="mb-3">
                <label for="title" class="form-label"
                  >Title:</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="blog[title]"
                  placeholder="Title"
                  value= "<%= blog.title%> "
                  required
                />
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
          <div class="mb-3">
            <label for="image" class="form-label"
              >Image URL:</label
            >
            <input
              type="text"
              class="form-control"
              name="blog[image]S"
              placeholder="URL"
              value="<%= blog.image%>"
            />
          </div>
          <div class="mb-3">
            <label for="blog[text]" class="form-label"
              >Write Blog here:</label
            >
            <textarea class="form-control" name="blog[text]" rows="5" required><%= blog.text%></textarea>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="mbl-3">
            <button type="submit" class="btn btn-dark btn-sm">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</main>

    <%- include('../partials/footer.ejs') %>
  </body>
  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
  </script>
</html>
