<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %> 
    <title>index</title>
</head>
<body>
    <%- include('../partials/header.ejs') %> 

    <main class="container">
    <section>
        <h4 class="display-4">BLOGS</h4>
    </section>

    <div class="container-md"></div>
   <% blogs.map(blog =>{ %>
    
      <div class="card mb-3" style="max-width: 100%, max-height: 240px">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%=blog.image%>" class="img-fluid" alt="..." style="max-height: 240px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%=blog.title%></h5>
              <p class="card-text"><%=blog.text.substring(0,75)%></p>
              <p class="card-text"><small class="text-muted"><%=blog.author%></small></p>
              <a href="/blogs/<%=blog._id%>" class="btn btn-primary">More Info</a>
            </div>
            
          </div>
        </div>
      </div>
    

       <%  }) %>

      </div>

    </main>
  


    <%- include('../partials/footer.ejs') %> 
    
</body>
</html>


